body {
    background-color: whitesmoke;
}

.panel {
    margin: 6% 30%;
}

.panel-body {
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}

/* .title {
    text-align: center;
} */

.btn-primary {
    background-color: #0D477F;
    margin: 15% 0%;
}

/* .form-control {
    width: 100%;
} */

.login-img{
    width: 100%;
    /* height: 50%; */
}