/* Custom CSS for action circle buttons for creamy */

.circle-button{
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 55.5px;
    color: white;
    padding: 22px;
    box-shadow: 1px 1px 3px #000000;
    z-index: 1000;
    right: 24px;
    /*bottom: 45px;*/
    bottom: 60px;
}

.circle-button a{
    color: #fff;
}


.fab-div-area{
    display:none;
    border-radius:auto;
    position: fixed;
    bottom: 45px;
    right: 24px;
    /* z-index: 999999; */
}

.fab-div-item{
    width: 55px;
    height: 55px;
    border-radius: 55.5px;
    color: white;
    background-color: #0D477F;
    padding: 22px;
    box-shadow: 3px 3px 5px #888888;
    z-index: 5;
}

.fab-ul{
    min-height: 90px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.li-style{
    list-style:none;
    margin: 0.000000001px 0;
}

/* Theme Colors */


/* Blue */
.skin-blue{
    background-color: #0D477F;
}

.skin-blue:hover,
.skin-blue:focus{
    background-color: #0D477F;
    cursor:pointer;
}
